# python byte code files
*.pyc

# Macosx files
.[dD][sS]_[Ss]tore

# Environment files
*.env
venv/

# pycharm
.idea

# Visual Studio Code
.vscode
vandelay-py.js

# Luminati backups
luminati.config.backup
luminati.config.*
.luminati.json

# Log files
*.log
note
